<html>
<head> <title> Teste </title>
<body>
<br>Insira a mensagem no campo abaixo:
<br>

<form method='POST' action='/'>
    <input type='text' name='message'>
    <input type='submit'>
</form>

<form method='GET' action='/limpar'>
<input type="submit" value="Limpar" />
</form>

<form method='GET' action='/popular'>
<input type="submit" value="Popular" />
</form>

</form>

    <tbody>
        {% for row in data %}
            <tr>
                <td>{{row[0]}} {{row[1]}} </td> <br>
            </tr>
        {% endfor %}
    </tbody>

</body>
</html>
